.buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-container{
    z-index: 999;
}

.orcamento{
    z-index: 0;
}

.input-row{
   /* border: 1px solid red;*/
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
}

.selectpicker{
    border: 1px solid gray;
}


.modal-body{
    gap: 15px;
}

tr{
    height: auto;
}

td{
    height: 30px;
    
}

.actions-list{
    margin-top: 8px;
}

.data_venda{
    width: 212px;
}

.main-card .buttons-container .select-container .btn {
    background-color: white !important;
  }

#modalParcelas .modal-content{
    width: 50rem;
}

#tableParcelas{
    border: 0.4px solid #DEE2E6;
}



