.input-container{
    width: 15%;
    padding-bottom: 15px; 
}
<<<<<<< HEAD

.venda-actions{
    display: flex;
    justify-content: space-between;
}

=======
>>>>>>> c40f06d9a9acdaf8262c7ddc539e5b0cadb3bb79
