.buttons-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.8rem;
}

.movimentacao-entrada{
    color: rgb(33, 201, 33);
}
.movimentacao-saida{
    color: red;
}

@media screen and (max-width: 768px) {
    .buttons-container {
        margin-bottom: 5px;
    }

    .buttons-container .relatorio {
        display: none;
    }
}
