.text-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.8rem;
}

.movimentacao-entrada {
    color: rgb(33, 201, 33);
}

.movimentacao-saida {
    color: red;
}

.table-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .text-container-header-card {
        font-size: 1.3em;
    }

    .buttons-container .btn {
        margin-top: 15px;
    }

    .containers-card .container-table {
        margin-top: 40px;
    }
}