.main-card .input-container-edit .selectpicker {
    background-color: white;
    border-color: #fcfcfc;
}

.input-container-edit input, select{
    width: 300px;
}

.selectpicker{
    width: 300px;
}

