.text-container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.table-container{
    display: flex;
    flex-direction: column;
}

.final-actions{
   height: 1%;
}

@media screen and (max-height: 768px){
    .containers-card .add-categoria{
        margin-bottom: 80px;
    }
  }