.container-login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    z-index: 1;
}

.container-white{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #fff; 
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 25%;
}


.image-container{
    width: 100%;
    height: 33.3%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 50px;
}

.input-container{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*border: 1px solid red;*/
}

.input-container input{
    width: 400px;
}

.input-password{
    width: 100%;
    display: flex;
    align-items: center;
}

.input-password #senha{
    width: 110%;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
}



#imgLogo{
    max-width: 70%;
    max-height: 70%;
}

.action-pass{
    width: 100%;
    height: 3%;

    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

section .btn-container{
    padding-top: 35px;
}

#verSenha{
    cursor: pointer;  
    user-select: none;
}

/* ======== MEDIA QUERIES ======== */
@media screen and (max-width: 768px){
    .input-container input{
        width: 100%;
    }

    .container-white{
        width: 90%;
    }
    
}

@media screen and (min-width: 768px){
    .input-container input{
        width: 100%;
    }
}